.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 10px;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.menu-search{
    border-bottom: 1px solid black;
    position: absolute;
    right: 20px;
    padding: 5px;
  }
  .menu-search input{
    border:none;
    margin-left:5px;
  }
  .menu-search input:focus {
    outline:none
  }